@import "@styles/themes/light-theme.css";
@import "@styles/themes/dark-theme.css";

.toggle-theme-button {
  cursor: pointer;
  color: var(--button-text-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.bi {
  position: relative;
  display: inline-block;
  font-size: 2rem; 
}

.bi::before {
  box-shadow: 0 0 0 0em currentColor; 
}

.off {
  color: var(--primary-color);
}

.off:hover {
  color: var(--error);
  transform: scale(1.1); 
  transition: transform 0.5s ease; 
}

.on {
  color: var(--succsses); 
}

.on:hover {
  color: var(--succsses); 
  transform: scale(1.1); 
  transition: transform 0.5s ease; 
}
.span-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--togglethme-text);
  letter-spacing: 0.05rem;
}