@import '@styles/themes/light-theme.css';
@import '@styles/themes/dark-theme.css';

.section-colections {
  background-color: var(--background-color);
  padding: 50px 0;
  margin-top: 50px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.text-color-black {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.card {
  background: none !important; 
  border: none !important; 
  box-shadow: none !important; 
}

.image-container-product {
  width: 100px; 
  height: 100px;
  background-color: var(--white); 
  border-radius: 50%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  transition: box-shadow 0.3s ease-in-out; 
  color: rgba(201, 32, 113, 1);
}


.card-img-top-product {
  width: 60%; 
  height: auto;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}


.card:hover .image-container-product {
  box-shadow: rgba(0, 0, 0, 0.05);
}

.card:hover .card-img-top-product{
  fill: rgba(201, 32, 113, 1); 
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Ocultar a barra de rolagem */
}

.scroll-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 16px; /* Espaçamento entre os itens */
}

