.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  max-width: 1200px;
}

.carousel-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-info {
  flex: 1;
  padding: 20px;
  font-family: Inter;
  font-weight: bold;
}

.carousel-text {
  flex: 1;
  
}

.carousel-image {
  flex: 1;
  padding: 20px;
}

.carousel-image img {
  max-width: 100%;
  height: auto;
  rotate: -20deg;
}

.carousel-indicators {
  display: none;
}

.radio-buttons label {
  background-color: #c3b0b9;
  padding: 5px 5px;
  border-radius: 22px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}

.radio-buttons input[type="radio"] {
  display: none;
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: #c92071;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.bg {
  height: 60vh;
  background-color: var(--carroussel-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}