@import '@styles/themes/dark-theme.css';
@import '@styles/themes/light-theme.css';

.section-categorias {
  background-color: var(--background-color);
  padding: 50px 0;
  margin-top: 50px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.text-color-black {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.btn-categorias {
  position: absolute;
  bottom: 10px;
  left: 7px;
  width: calc(40% - 20px);
  color: rgba(201, 32, 113, 1);
  background-color: #fff;
  border: none;
  padding: 9px 15px 9px 18px;
  font-size: 17px;
  font-weight: 700;
}
.btn-categorias:hover {
  color: #fff;
  background-color: rgba(201, 32, 113, 1);
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 16px;
}

.img-card {
  width: 15rem;
  height: 9rem;
  transition: box-shadow 0.3s ease-in-out;
}