@import "@styles/button/toggletheme.css";

.section-categorias {
  background-color: var(--background-color);
  padding: 50px 0;
  margin-top: 50px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.text-color-black {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.btn-categorias {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

