@import "@styles/button/toggletheme.css";

.section-categorias {
  background-color: var(--background-color);
  padding: 50px 0;
  margin-top: 50px;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.text-color-black {
  color: var(--text-color);
  transition: color var(--transition-duration);
}

.btn-categorias {
  position: absolute;
  bottom: 10px;
  left: 7px;
  width: calc(40% - 20px);
  color: rgba(201, 32, 113, 1);
  background-color: #fff;
  border: none;
  padding: 9px 15px 9px 18px;
  font-size: 17px;
  font-weight: 700;
}
.btn-categorias:hover {
  color: #fff;
  background-color: rgba(201, 32, 113, 1);
}


