/* src/styles/seachbar/seachbar.css */

.form-inline {
  display: flex;
  align-items: center;
}

.input-group {
  width: 100%;
}

.form-control {
  margin-right: 0.5rem;
}

.input-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.input-group-text i {
  margin-right: 0.5rem;
}

.btn-search {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 0.3s ease;
} 

.btn-search:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #C92071; 
  transform: scale(1.2);
}
