@import '@styles/themes/dark-theme.css';
@import '@styles/themes/light-theme.css';

.background {
  background-color: var(--background-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
}

.product-image {
  width: 100%;
}

.product-thumbnail {
  width: 18%;
}

.product-color {
  width: 24px;
  height: 24px;
}

.btn-color {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.5s;
}

.btn-color.selected {
  transform: scale(1.2);
  border: 5px solid var(--error) !important;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0 15px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  width: 12rem;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card-color {
  width: 8rem;
  height: 8rem;
  background-color: green;
}