/* src/assets/stylesheets/navbar/navbar1.css */
@import '@styles/themes/dark-theme.css';
@import '@styles/themes/light-theme.css';

.custom-navbar {
  width: 100%;
  background-color: var(--background-color);
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand img {
  max-height: 1.9rem;
  content: var(--image-log);
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.searchbar {
  width: 50%;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--text-color) !important;
  padding: 0.5rem 1rem;
  position: relative;
}

.nav-link:hover {
  color: var(--primary-color) !important;
  border-radius: 5px;
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  background-color: var(--primary-color);
}

.custom-cart-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.cart-badge {
  font-size: 0.75rem;
}

.custom-navbar .menu-button {
  background-color: var(--light-gray-3);
  border: none;
  color: var(--Dark-gray);
}

.custom-navbar .menu-button:hover {
  color: var(--text-color);
  background-color: var(--Dark-gray-2);
  border-color: #ffffff;
}

.custom-navbar .logo-image {
  max-height: 1.5rem;
}

.custom-navbar .custom-cart-icon {
  font-size: 1.5rem;
}

.custom-navbar .cart-badge {
  position: absolute;
  top: 0;
  right: 0;
}

.glow-on-hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.glow-on-hover:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.button {
  background-color: var(--background-color);
  color: var(--button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}


.btn-scale:hover {
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out;
}

.menu-icon{
  color: var(--menu-icon-color);
}

.menu-off-canvas {
  background-color: var(--background-color);
}

.menu-itens{
  background-color: var(--background-color);
  color: var(--itens-menu-offcanvas);
}


.offcanvas-header {
  background-color: var(--background-color);
  color: var(--text-color);
} 

.offcanvas-body {
  background-color: var(--background-color);
}

/* src/styles/navbar/navbar1.css */
.menu-off-canvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}