:root, :root.dark-theme {
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body {
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.switch {
  font-size: 0.875rem;
  position: relative;
  display: inline-block;
  width: 9em;
  height: 2.6em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider .ball {
  box-shadow: 10px 10px 100px #7f8996;
}

.switch input:checked + .slider {
  background-color: #8a5cd4;
}

.switch input:focus + .slider {
  box-shadow: 10px 10px 100px #7f8996;
}

.switch input:checked + .slider .ball {
  left: 72%;
  transform: rotate(360deg);
  box-shadow: none;
  outline: 6px solid rgba(255, 255, 255, 0.278);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: all 0.4s;
  border-radius: 30px;
}

.switch .slider .ball {
  background-color: #c80000;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  position: absolute;
  left: -1px;
  transition: 0.4s;
}

.switch .slider .ball .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.switch .slider .ball .icon .theme-icon {
  width: 100%;
  height: 100%;
}

.switch .slider .cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.4s;
}

.switch .slider .cloud .cloud-icon {
  width: 100%;
  height: 100%;
}

.switch input:checked + .slider .cloud {
  opacity: 0;
}