@import '@styles/themes/dark-theme.css';
@import '@styles/themes/light-theme.css';

.background {
  background-color: var(--background-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

.text-color {
  color: var(--text-color);
  transition: color var(--transition-duration);
}


.text-color-black {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color) ;
  transition: color var(--transition-duration);
}

.text-secondary {
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  color: var( --Dark-gray-3);
  transition: color var(--transition-duration);
}

.product-image{
  width: 75%;
  height: 75%;
  object-fit: cover;
}

.custom-card{
  background-color: var(--background-color);
  border: none;
  transition: background-color var(--transition-duration);
}

.image-container {
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.3s;
  background-color: #ffffff;
}

input[type="radio"] {
  accent-color: gray;
}